.hero h1 {
    color: var(--white);
}

.skills__list {
    display: flex;
    gap: 30px;
    text-align: center;
    flex-wrap: wrap;
}

.skills__item {
    width: 120px;
}

.skills__img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.skills__img:hover {
    object-fit: contain;
    transform: rotate(20deg) scale(1.2);
}

.skills h3 {
    margin-top: 36px;
    margin-bottom: 18px;
}

.skills h4 {
    font-weight: 400;
    color: var(--text-secondary);
    margin-top: 8px;
}

@media (max-width: 768px) {
    .skills__item {
        width: 80px;
    }
}

.portfolio img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.portfolio_projects {
    margin: 10px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.portfolio_box {
    background: var(--sideColor);
}

.portfolio_box-content {
    padding: 16px;
}

.portfolio_box p {
    margin: 12px 0;
    color: var(--text-secondary);
}

.portfolio_box a {
    text-decoration: none;
    color: var(--accent);
    display: flex;
    justify-content: flex-end;
}

.portfolio_box p .portfolio_visit {
    background: var(--white);
    color: var(--black);
    width: 200px;
    font-size: 20px;
    border: 3px solid var(--accent);
    border-radius: 10px;
    text-decoration: none;
    padding: 4px;
    font-weight: lighter;
}

@media (max-width: 640px) {
    .portfolio_projects {
        grid-template-columns: 1fr;
        gap: 12px;
    }
}