.hero h1 {
    color: var(--white);
}

.skills__list {
    display: flex;
    gap: 30px;
    text-align: center;
    flex-wrap: wrap;
}

.skills__item {
    width: 120px;
}

.skills__img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.skills__img:hover {
    object-fit: contain;
    transform: rotate(20deg) scale(1.2);
}

.skills h3 {
    margin-top: 36px;
    margin-bottom: 18px;
}

.skills h4 {
    font-weight: 400;
    color: var(--text-secondary);
    margin-top: 8px;
}

@media (max-width: 768px) {
    .skills__item {
        width: 80px;
    }
}

.portfolio img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.portfolio_projects {
    margin: 10px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.portfolio_box {
    background: var(--sideColor);
}

.portfolio_box-content {
    padding: 16px;
}

.portfolio_box p {
    margin: 12px 0;
    color: var(--text-secondary);
}

.portfolio_box a {
    text-decoration: none;
    color: var(--accent);
    display: flex;
    justify-content: flex-end;
}

.portfolio_box p .portfolio_visit {
    background: var(--white);
    color: var(--black);
    width: 200px;
    font-size: 20px;
    border: 3px solid var(--accent);
    border-radius: 10px;
    text-decoration: none;
    padding: 4px;
    font-weight: lighter;
}

@media (max-width: 640px) {
    .portfolio_projects {
        grid-template-columns: 1fr;
        gap: 12px;
    }
}

.contacts_row {
    display: flex;
    gap: 20px;
}

.contacts_describe {
    width: 400px;
}

.hover {
    border-radius: 15px;
    color: var(--black);
    padding: 4px;
    border: 2px var(--black) solid;
}

.hover:hover {
    border: 2px solid var(--accent);
}

.contact_btn {
    background: var(--accent);
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 15px;
    color: var(--sideColor);
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    float: right;

}

.contacts {
    display: flex;
    flex-direction: column;
}

.contacts .tag-3 {
    display: flex;
    justify-content: center;
}

.contacts h2{
    max-width: 400px;
}

.contact_img {
    width: 30px;
    height: 30px;
}

.contact_link {
    height: 30px;
    width: 50px;
    text-decoration: none;
    padding: 10px 0;
}


.contacts form img {
    width: 24px;
    height: 24px;
}

.contacts form {
    width: 340px;
}

.contacts textarea {
    width: 340px;
    resize: none;
}

.contacts input {
    width: 160px;
}

.contacts select {
    width: 340px;
}

.contacts option {
    color: var(--black);
}

.contacts label {
    display: block;
}

.blog_content img {
    width: 150px;
    margin-right: 20px;
}

.blog_box {
    margin: 10px 0;
}

.blog_txt a {
    color: var(--accent);
    text-decoration: none;
    margin-bottom: 0;
    display: block;
    margin-left: auto;
}

.blog h3 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 700px;
}

.blog_txt {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blog_content {
    display: flex;
}

.blog_txt p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

.blog_content:not(.last) {
    margin-bottom: 30px;
}

@media (max-width: 1300px) {
    .blog h3 {
        width: 500px;
    }
}

@media (max-width: 1100px) {
    .blog h3 {
        width: 360px;
    }
}

@media (max-width: 700px) {
    .blog h3 {
        width: 260px;
    }

    .blog_content img {
        width: 124px;
        object-fit: cover;
    }
}

@media (max-width: 470px) {
    .blog h3 {
        width: 200px;
    }

    .blog_content img {
    width: 100px;
    margin-right: 10px;
}
}