.hero h1 {
    color: var(--white);
}

.skills__list {
    display: flex;
    gap: 30px;
    text-align: center;
    flex-wrap: wrap;
}

.skills__item {
    width: 120px;
}

.skills__img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.skills__img:hover {
    width: 60px;
    height: 60px;
    object-fit: contain;
    transform: rotate(20deg);
}


.skills .tag-3>*:not(.tag-symbol) {
    margin-left: 0;
}

.skills h2, .portfolio h2 {
    margin-left: 20px !important;
}

.skills h3 {
    margin-top: 36px;
    margin-bottom: 18px;
}

.skills h4 {
    font-weight: 400;
    color: var(--text-secondary);
    margin-top: 8px;
}

.portfolio img {
    width: 300px;
    height: auto;
}

.portfolio_row1, .portfolio_row2 {
    display: flex;
}

.portfolio_box {
    text-align: center;
    width: 400px;
    margin: 50px;
}

.portfolio_box h4 {
    flex-wrap: wrap;
}

.portfolio_visit {
    position: relative;
    background: var(--white);
    color: #000000;
    width: 200px;
    font-size: 20px;
    border: 3px solid var(--accent);
    border-radius: 10px;
    text-decoration: none;
    padding: 4px;
    top: 10px;
    font-weight: lighter;

}

@media (max-width: 768px) {
    .skills__item {
        width: 80px;
    }
}