@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: var(--white);
}

:root {
    --backColor: #2b2a3a;
    --sideColor: #1d2134;
    --white: #fff;
    --black: #000;
    --text-secondary: #cdcdcd;
    --gray: #696969;
    --accent: #03ff7e;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 46px;
}

#root {
    display: grid;
    grid-template-columns: 280px 1fr;
}

h1 {
    font-size: 48px;

}

h2 {
    font-size: 38px;
}

h3 {
    font-size: 26px;

}

h4 {
    font-size: 18px;

}

p {
    font-size: 16px;
}



@media (max-width: 1440px) {
    h1 {
        font-size: 38px;

    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 24px;

    }

}

@media (max-width: 1024px) {
    h1 {
        font-size: 32px;

    }

    h2 {
        font-size: 26px;
    }

    h3 {
        font-size: 22px;

    }

}

header figure {
    color: #000000;
}

@media (max-width: 900px) {
    #root {
        grid-template-columns: 1fr;
    }
}

body {
    background: var(--backColor);
}

.btn {
    background: var(--accent);
    display: block;
    height: 48px;
    width: 280px;
    border: none;
    border-radius: 15px;
    color: var(--sideColor);
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover {
    transform: translateX(4px);
}

@media (max-width: 1440px) {
    .btn {
        height: 38px;
        font-size: 16px;
        width: 240px;
        letter-spacing: 1px;
    }
}

@media (max-width: 1024px) {
    .btn {
        height: 34px;
        font-size: 16px;
        width: 240px;
        letter-spacing: 0.5px;
    }
}

main {
    width: 100%;
    z-index: 1;
    height: 5000px;
    padding: 0 20px;
    max-width: 1024px;
    margin: 0 auto;
    padding-top: 80px;
}

@media (max-width: 1440px) {
    main {
        padding-top: 60px;
    }
}

@media (max-width: 1024px) {
    main {
        padding-top: 40px;
    }
}

@media (max-width: 768px) {
    main {
        padding-top: 20px;
    }
}

.txt-accent {
    color: var(--accent);
}

.tag {
    margin: 20px 0;
}

.tag-2 {
    margin-left: 20px;
}

.tag-3 {
    margin-left: 40px;
}


.tag-3 h1 {
    display: block;
}

.tag-symbol,
.tag-txt {
    color: var(--gray);
    font-size: 16px;
    font-weight: 400;
}

@media (max-width: 1440px) {

    .tag {
        margin: 16px 0;
    }

    .tag-2 {
        margin-left: 16px;
    }

    .tag-3 {
        margin-left: 16px;
    }


    .tag-symbol,
    .tag-txt {
        font-size: 14px;
    }
}

@media (max-width: 1024px) {

    .tag {
        margin: 12px 0;
    }

    .tag-2 {
        margin-left: 12px;
    }

    .tag-3 {
        margin-left: 12px;
    }

    .tag-symbol,
    .tag-txt {
        font-size: 12px;
    }
}


.tag-3>*:not(.tag-symbol) {
    margin-left: 20px;
}

@media (max-width: 768px) {


    .tag {
        margin: 10px 0;
    }

    .tag-2 {
        margin-left: 0;
    }

    .tag-3 {
        margin-left: 0;
    }

    .tag-symbol,
    .tag-txt {
        font-size: 10px;
    }

    .tag-3>*:not(.tag-symbol) {
        margin-left: 0;
    }
}